/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background:  #fff8f0;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    position: relative;
    max-height: 500px; 
    overflow-y: auto;
    display: flex;
    text-align: left;
    flex-direction: column;
  }
  

  .modal-content button {
    padding: 10px 20px;
    background: #ee62e9;
    border: none;
    color: rgb(10, 9, 10);
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    border-radius: 5px;
  }
  

  .modal-content button:hover {
    background-color: #78dced;
  }