.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fce4ec;
    padding: 10px 10px 
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  
  }
  
  .nav-links li {
    display: inline;
    
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
  }
  
  .nav-links a:hover {
    background-color: #ff22bde2;
  }
  
  /* Mobile Friendly: Stack the links */
  @media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      text-align: center;
      width: 100%;
      padding: 10px 0;
    }
  
    .nav-links li {
      display: block;
      padding: 10px 0;
    }
  }


  